@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
padding: 0%;
margin: 0%;
font-family: "DM Sans", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      gap: 25px; 
      
    }

    }

    a {
      padding: 10px 18px;
      border-radius: 12px;
      color: #07ADC3;
      background-color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
        background-color: #07ADC3;
        color: #ffffff
      }
    }
  }



.basquete {
    background-image: url(../img/basquete\ copy\ 2.jpg);
    text-align: center;
    font-size: 40px;
    height: 500px;
    width: 1530px;
    color: #fbfcff;
    padding: 40px;
}

.textos {
    margin: 15px;

    h2 {
    font-size: 50px;
    color: #07ADC3;
}

    p {
    font-size: 25px;
}
    padding: 20px;

}


.rodape {
    text-align: center;
    background-color: #07ADC3;
    color: #fbfcff;
}

.title {
    color: #00199E;
    text-align: center;
    font-size: 40px;
}