@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
padding: 0%;
margin: 0%;
  font-family: "DM Sans", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      gap: 25px; 
      
    }

    }

    a {
      padding: 10px 18px;
      border-radius: 12px;
      color: #07ADC3;
      background-color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
        background-color: #07ADC3;
        color: #ffffff
      }
    }
  }

.navegacao {
    justify-content: center;
    text-align: center;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.fut {
  background-image: url(../img/futebol.png);
  opacity: 0.8;
  display: flex;
  justify-content: flex-start; 
  align-items: center;       
  margin-top: 10px;
  width: 1530px;
  height: 390px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.futebol-link {
  text-decoration: none;
}

.futebol-title {
  display: block;
  font-size: 120px;
  font-weight: bold;
  color: rgb(255, 255, 255); 
  text-shadow: 3px 3px 6px rgb(0, 15, 0);
  margin-right: 40px;
  padding-left: 3cm;
  letter-spacing: 3px;
  transition: 0.3s;
  
}

.futebol-link:hover .futebol-title {
  transform: translateY(-5px) scale(1.05);
  color: #cfffbf;
}

.volei {
  background-image: url(../img/VOLEI.png);
  opacity: 0.8;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 1530px;
  height: 390px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.volei-link {
  text-decoration: none;
}

.volei-title {
  display: block;
  font-size: 120px;       
  font-weight: bold;
  color: rgb(255, 197, 49);
  text-shadow: 3px 3px 6px rgb(1, 77, 184); 
  margin-right: 40px;     
  padding-right: 3cm;
  letter-spacing: 3px;
  transition: 0.3s;

}

.volei-link:hover .volei-title {
  transform: translateY(-5px) scale(1.05);
  color: #ffffff; 
}

.ballet {
    background-image: url(../img/fut.jpg);
    display: flex;
    width: 1530px;
    height: 390px;
    background-size: cover;
}

.Atletismo {
    background-image: url(../img/fut.jpg);
    display: flex;
    width: 1530px;
    height: 390px;
    background-size: cover;
}

.Titulo {
    text-align: center;
    font-size: 45px;
    letter-spacing: 5px;
    padding: 0.5cm;
    
}


.basquete {
  background-image: url(../img/basquete2.png);
  opacity: 0.8;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 1530px;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.basquete-link {
  text-decoration: none;
}

.basquete-title {
  display: block;
  font-size: 120px;       
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 6px rgb(255, 116, 3); 
  margin-right: 40px;     
  padding-left: 2cm;
  letter-spacing: 3px;
  transition: 0.3s;

}

.basquete-link:hover .basquete-title {
  transform: translateY(-5px) scale(1.05);
  color: #ffc86f; 
}


footer {
    text-align: center;
    justify-content: center;
    background-color: #07ADC3;
    color: #fbfcff;
}